  html, body {
      height: 100%;
      margin: 0;
  }

.primary-color{
  background-color:   #232b2b;
  color : white; 
}

#cover {
  height: 100%;
  /*background: url(http://cloud.niklausgerber.com/432W0y1g2h05/orange.png) center center no-repeat scroll #232b2b;*/
}

#cover h1, #cover p {
    position: relative;
    top: 50vh;
}

.turquoise-text {
  color:turquoise;
}

.turquoise-bg {
  background-color: turquoise;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: black;
    border-radius: 0px;
    border-bottom: 4px solid turquoise;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: turquoise;
}

section, footer{
  min-height: 400px;
}



.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}

.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.contact-thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: 5%;
  background-color: red;
}

.contact-infos {
  position:absolute;
  text-align: center;
  bottom:-70%;
  left:0px;
  width:100%;
  height:100%;
  background-color: rgba(64,224,208, 0.7);
  transition: all 0.5s;
}



.contact-linkedin {
  position:absolute;
  bottom:40px;
  right:50%;
  transform:translateX(45%);
}

.contact-infos p {
  position:relative;
  top:80px;
}

.contact-thumbnail:hover .contact-infos{
  color:#212529;
  bottom:0%;
}

.contact-thumbnail:hover .infos-name {
  top:50px;
}


.gallery_product
{
    margin-bottom:  0px;
    padding: 5px;
}


.gallery_product img {
  width: 100%;
}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) { 
  #burgerMenu {
    display: none;
  }
}

@media (max-width: 992px ) { 
  .nav-none {
    display: none;
  }

